<html>
<head>
  <title>OAuth2 Sample App - Intuit</title>
  
</head>
<body>
<div class="container">

 <h3>Welcome to the Intuit Java SDK Sample App!</h3>
 Before using this app, please make sure to update application.properties with your clientid, clientSecret, accessToken, refreshToken and companyId.
 <br />
 Click on the links below to try out the APIs
 <ol>
    <li><a href="/getCompanyInfo">CompanyInfo</a></li>
  <br />
    <li><a href="/addCustomer">Customer-Create</a></li>
  </ol>
</div>
</body>
</html>