<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>
  <intuit>
    <ipp>
       <!--<logger>
         -->
      <!--To enable/diable Request and Response log-->
      <!--
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="C:\IdsLogs" />
         -->
      <!--Custom Logger to configure 
        <customLogger name="traceLogger" type="Intuit.Ipp.Diagnostics.TraceLogger, Intuit.Ipp.Diagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" enable="true" />-->
      <!--
      </logger>-->
      <message>
        <!--Serialization and compression formats to be used for Request and Response-->
        <request serializationFormat="Json"/>
        <response serializationFormat="Json"/>
      </message>
      <service>
        <!--Baseurl will be configured to point to any environment other than Production (default)-->
        <!--Sandbox base url to be used when dev app (consumer keys and tokens are used)-->
        <baseUrl qbo="https://sandbox-quickbooks.api.intuit.com/"/>
        <!--Prod base url to be used when prod app (consumer keys and tokens are used)-->
        <!--<baseUrl qbo="https://quickbooks.api.intuit.com/" />-->
      </service>
    </ipp>
  </intuit>
  <appSettings>
    <add key="DiscoveryAuthority" value="https://oauth.platform.intuit.com/op/v1"/>
    <add key="clientId" value=""/>
    <add key="clientSecret" value=""/>
    <add key="accessToken" value=""/>
    <add key="refreshToken" value=""/>
    <add key="realmId" value=""/>
    <!--production discoveryUrl-->
    <!--<add key="discoveryUrl" value="https://developer.api.intuit.com/.well-known/openid_configuration"/>-->
    <!--sandbox discoveryUrl-->
    <add key="discoveryUrl" value="https://developer.api.intuit.com/.well-known/openid_sandbox_configuration/"/>
    <add key="logPath" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>