<html>
<head>
  <title>OAuth2 Sample for Hackathons- Intuit</title>
</head>
<body>
  <div id="loggedIn">
  </div>
  <h3>Welcome to the Intuit OAuth2 Sample App for Hackathons!</h3>
  Before using this app, please make sure you do the following:
  <p>
      Update config.json with your Client ID, Client Secret (found on
      <a href="https://developer.intuit.com/v2/ui#/app/dashboard">developer.intuit.com</a>
      ), Access Token, Refresh Token and Realm ID (this can be got from OAuth Playground found on your app's dashboard)
  </p>

  <br /><br /><br />
  <p>Bill POST response</p>
  {{post_request}}

  <br /><br /><br />
  <p>Bill GET response</p>  
  {{get_request}}
  
</body>
</html>